<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="PathXML" value="C:\WS-FichaIndividual\" />
  </appSettings>
  <connectionStrings>   
    <add name="Conexiones" connectionString="Data Source=si-sql003.cloudapp.net;Initial Catalog=SenainfoCertificacion;Persist Security Info=True;User ID=SenainfoAppTest;Password=S3nainfoAppT3st587603" providerName="System.Data.SqlClient" />
    <!--<add name="connSQL" connectionString="Data Source=si-sql003.cloudapp.net;Initial Catalog=senainfoCertificacion;Persist Security Info=True;User ID=SenainfoAppTest;Password=S3nainfoAppT3st587603" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config para .NET 4.5, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este 
            proceso afecta al rendimiento, debe establecer este valor como true 
            durante la depuración.
        -->
    <compilation debug="true" targetFramework="4.5" />
    <!--
            La sección <authentication> habilita la configuración
            del modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. 
        -->
    <authentication mode="Windows" />
    <!--
            La sección <customErrors> habilita la configuración de 
            las acciones que se deben realizar si un error no controlado tiene lugar
            durante la ejecución de una solicitud. Específicamente, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Service.asmx" />
            </files>
        </defaultDocument>
    </system.webServer>
  <!-- 
        La sección system.webServer es necesaria para ejecutar ASPN.NET AJAX en Internet
        Information Services 7.0. No es necesaria para la versión anterior de IIS.
    -->
</configuration>